/*
 * Function Directives
 */

/* @function -------
 * It is possible to define your own functions 
  in sass and use them in any value or script context. 例如：
 */

$grid-width: 40px;
$gutter-width: 10px;

@function test($a){
	@return $a+10
}

@function grid-width($n) {
	$hello:1px ;
	@for $i from 1 through $n{
		$hello:$hello+$i
	}
	@if $hello > 10 {
		$hello:15px
	}
    @return $hello + test(2)
}

#sidebar { width: grid-width(5); }